<template name="homepage">

    <div class="col-lg-12">
        {{> codes }}
    </div>

    <section id="header">
        <header>
            <div class="header-text">
                <h3>Aim High with  <i class="fa fa-star-o"  ></i>  Vise haut avec</h3>
            </div>
            <img id="logo" src="pllogo.jpg" alt="">
            <div class="header-text">
                <h1>PIONEER <span>LINE</span> <span id="two">2</span><span id="zero">0</span><span id="one">1</span><span id="four">4</span></h1>
            </div>
        </header>

        <div class="col-lg-12">
            {{> pdfdownload }}
        </div>

    </section>

</template>