<template name="quicklinkonecolour">

  <div class="row">
    {{> qlroundheader}}  
  </div>
  <div class="row">
    {{> yield region="filterdropdown" }}
  </div>
  <div class="row">
    {{> reactiveTable collection=quicklinkonecolour settings=settings}}
  </div>
  

  <div class="row">
    {{> qlroundfooter}}
    {{> yield region='charges'}}
  </div>
</template>


<template name="qlroundheader">
  <div class="row">
    <h1>QuickLink<sup>TM</sup> One-Colour Print Balloons</h1>
  </div>

  <div class="row">
    <div id="primary-image" class="col-lg-3 col-md-3 col-sm-12">
      <img src="qlinkarch.jpg" alt="">
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h4>Round Balloons One-Colour/Two-Side Same IMPRESS II® Print</h4>
    </div>
    
  </div>

</template> 

<template name="qlroundfooter">
  <p>The prices above include balloons with a one-colour/two-side same Impress II® print; add additional charges</p>
</template> 

