<template name="quickFindDropdown">

    <div class="filter-button-container">

        <div class="btn-group">
            <button type="button" id="main-select-button" class="btn btn-success btn-lg dropdown-toggle pull-right" data-toggle="dropdown">
                Quick Find <span id="quick-find-caret"  class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">

                
                  {{#each topFive}}
                    <li><a id="{{ name }}" class="topLinks" href="{{ path }}">{{ name }}</a></li>
                  {{/each }} 
                
                
            </ul>
        </div>

    </div>
</template>

